.notification-body {
    position: relative;
}
.notification-element {
    /* position: absolute;
    top: 5.7rem;
    right: 0; */
    min-width: 220px;
}
.notification-count {
    position: absolute;
    top: 0;
    right: 8px;
}
hr {
    margin: 0;
}