.app-header {
    color: #fff;
    text-align: center;
}
.app-header h1 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 3.1em;
    line-height: 32px;
}
.app-header p {
    letter-spacing: 1px;
    line-height: 12px;
}