* {
    font-family: 'Ubuntu', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
.app-header {
    text-align: center;
}
.app-header h1 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 3.1em;
    line-height: 32px;
}
.app-header p {
    letter-spacing: 1px;
    line-height: 12px;
}
.body-components {
    height: 90vh;
}