.auth-link {
    min-width: 120px;
}
.auth-link {
    line-height: 24px;
}
.auth-link-name {
    margin-left: 6px;
}
.img-holder {
    position: relative;
}
.img-landing {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}