.auth-link {
    min-width: 120px;
}
.auth-link {
    line-height: 24px;
}
.auth-link-name {
    margin-left: 6px;
}
.img-holder {
    position: relative;
    height: 620px;
    width: auto;
    overflow: hidden;
}
.img-landing {
   position: absolute;
   width: 100%;
}
.img-container-signup {
    position: relative;
}
.img-container-signup img {
     width: 520px;
}